<h1>
	 Hello, admin
</h1>


<!-- 
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li> -->
<li><a href="/logout">Logout from Admin</a></li>



<!-- <form action="/addproduct" method="POST">
	<button name="tea">Add tea</button>
	<button name="coffee">Add coffee</button>
</form> -->